@import "tailwindcss";
@import "design/blue.css";
@import "design/slate.css";
@import "design/green.css";
@import "design/yellow.css";
@import "design/red.css";
@import "design/styles.css";

@theme {
  --spacing-1: var(--space-1);
  --spacing-2: var(--space-2);
  --spacing-3: var(--space-3);
  --spacing-4: var(--space-4);
  --spacing-5: var(--space-5);
  --spacing-6: var(--space-6);
  --spacing-7: var(--space-7);
  --spacing-8: var(--space-8);
  --spacing-9: var(--space-9);
  --spacing-10: var(--space-10);

  --color-gray-0: var(--gray-0);
  --color-gray-1: var(--slate-1);
  --color-gray-2: var(--slate-2);
  --color-gray-3: var(--slate-3);
  --color-gray-4: var(--slate-4);
  --color-gray-5: var(--slate-5);
  --color-gray-6: var(--slate-6);
  --color-gray-7: var(--slate-7);
  --color-gray-8: var(--slate-8);
  --color-gray-9: var(--slate-9);
  --color-gray-10: var(--slate-10);
  --color-gray-11: var(--slate-11);
  --color-gray-12: var(--slate-12);
}

* {
  box-sizing: border-box;
  font-family: "Geist";
  font-feature-settings: "ss02", "ss03", "ss04", "ss07", "ss08", "ss09";
}

@font-face {
  font-family: "Geist";
  src: url("/Geist-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}

:root,
.dark {
  --gray-1: var(--slate-1);
  --gray-2: var(--slate-2);
  --gray-3: var(--slate-3);
  --gray-4: var(--slate-4);
  --gray-5: var(--slate-5);
  --gray-6: var(--slate-6);
  --gray-7: var(--slate-7);
  --gray-8: var(--slate-8);
  --gray-9: var(--slate-9);
  --gray-10: var(--slate-10);
  --gray-11: var(--slate-11);
  --gray-12: var(--slate-12);
}
