@import "tailwindcss";
@import "@awlt/design/colors/blue.css";
@import "@awlt/design/colors/slate.css";
@import "@awlt/design/colors/green.css";
@import "@awlt/design/colors/yellow.css";
@import "@awlt/design/colors/red.css";
@import "@awlt/design/styles.css";

@theme {
  --spacing-1: var(--space-1);
  --spacing-2: var(--space-2);
  --spacing-3: var(--space-3);
  --spacing-4: var(--space-4);
  --spacing-5: var(--space-5);
  --spacing-6: var(--space-6);
  --spacing-7: var(--space-7);
  --spacing-8: var(--space-8);
  --spacing-9: var(--space-9);
  --spacing-10: var(--space-10);
  --spacing-11: var(--space-11);
  --spacing-12: var(--space-12);
  --music-controls-padding-vertical: var(--spacing-6);
}

:root {
  --content-side-padding: var(--spacing-4);
  --navbar-height: 78px;

  /* lg */
  @media (width >= 64rem) {
    --content-side-padding: var(--spacing-10);
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

* {
  box-sizing: border-box;
  font-family: "Geist";
  font-feature-settings: "ss02", "ss03", "ss04", "ss07", "ss08", "ss09";
}

body {
  overflow-y: hidden;
  background-color: #000;
}

a {
  width: max-content;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
  user-select: none;
}

@font-face {
  font-family: "Geist";
  src: url("/Geist-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}

:root,
.dark {
  --gray-1: var(--slate-1);
  --gray-2: var(--slate-2);
  --gray-3: var(--slate-3);
  --gray-4: var(--slate-4);
  --gray-5: var(--slate-5);
  --gray-6: var(--slate-6);
  --gray-7: var(--slate-7);
  --gray-8: var(--slate-8);
  --gray-9: var(--slate-9);
  --gray-10: var(--slate-10);
  --gray-11: var(--slate-11);
  --gray-12: var(--slate-12);
  --gray-contrast: var(--slate-contrast);
}
