.container {
  padding-right: calc(50vw - (var(--content-width) / 2));
  padding-left: max(
    calc(50vw - (var(--content-width) / 2) - var(--sidebar-width)),
    var(--space-8)
  );

  @media (max-width: 1380px) {
    padding-right: var(--space-12);
  }
}
