.songList > * {
    display: grid;
    grid-template-columns: 24px 1fr 72px 100px;
    grid-auto-flow: column;
    align-items: center;
    padding-inline: var(--spacing-4);
    gap: var(--spacing-2);
}

.songListItem {
    position: relative;
    z-index: 0;
    overflow: hidden;
    outline-offset: 3px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: transparent;
        z-index: -1;
    }

    &:not(:hover) {
        transition:
            background-color 0.5s ease-in,
            outline 0.5s ease-in;
    }

    &[data-is-highlighted="true"] {
        &[data-is-active="true"]::before {
            background-color: var(--gray-5) !important;
        }
    }

    &[data-is-highlighted="false"] {
        &[data-is-active="true"]::before {
            background-color: var(--gray-3) !important;
        }

        &:hover::before {
            background-color: var(--gray-2);
        }
    }
}
